@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Đăng nhập";
}
<body>
    <div class="row" style="padding-top: 20px;">
        <div class="col-4 col-sm-4 col-md-4">
            <div class="col-12 text-info font-weight-bold" style="font-size: 30px; padding-left: 50px;">
                <img src="~/Icon/logo.jpg" alt="" style="width:100px; height:100px">
                LALOLI TRAVEL
            </div>
            <div class="col-12 col-sm-12 col-md-12 text-info" style="padding-top: 30px; padding-left: 50px;">ĐĂNG NHẬP</div>
            <form asp-controller="Login" asp-action="CheckLogin" method="post" onsubmit="return Validation()" class="col-10 col-sm-10 col-md-10" style="padding-left: 50px; ">
                @Html.AntiForgeryToken()
                <div class="" style="padding-top: 20px;">
                    <input type="email" class="col-12 col-sm-12 col-md-12 rounded border-info" name="username" id="username" style="height:60px;" placeholder="NHẬP TÀI KHOẢN" value="@ViewData["Username"]">
                </div>
                <div class="" style="padding-top: 10px;">
                    <input type="password" class="col-12 col-sm-12 col-md-12 rounded border-info" name="password" id="password" style="height:60px;" placeholder="NHẬP MẬT KHẨU" value="@ViewData["Password"]">
                </div>
                <div class="" style="padding-top: 10px;">
                    <input type="checkbox" id="checkboxShow">
                    <label for="">Hiển thị mật khẩu</label>
                </div>
                <div class="" style="padding-top: 10px;">
                    <a asp-controller="Login" asp-action="ForgotPassword" class="font-italic text-info">Quên mật khẩu</a>
                    <div id="Message"></div>
                </div>
                <button type="submit" class="col-12 col-sm-12 col-md-12 rounded border-info btn-info shadow-sm" style="height:60px; margin-top: 10px;">ĐĂNG NHẬP</button>
            </form>
            <input type="text" id="Status" value="@ViewData["Status"]" hidden />
            <div class="text-info text-center col-10 col-sm-10 col-md-10" style="padding-top: 10px;">
                --Or--
            </div>
            <div class="col-10 col-sm-10 col-md-10" style="padding-left: 50px; padding-top: 10px;">
                <button class="col-12 col-sm-12 col-md-12 rounded border-danger btn-danger shadow-sm" style="height:60px;">ĐĂNG NHẬP VỚI GOOGLE</button>
                <a class="btn col-12 col-sm-12 col-md-12 rounded border-success btn-success shadow-sm" style="height:60px; margin-top: 20px; display: flex; align-items: center; justify-content: center;" href="Register/Register">CHƯA CÓ TÀI KHOẢN - ĐĂNG KÝ</a>
            </div>
        </div>
        <div class="col-8 col-sm-8 col-md-8">
            <div id="mycarousel" class="carousel slide carousel-fade row rounded" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#mycarousel" data-slide-to="0" class=""></li>
                    <li data-target="#mycarousel" data-slide-to="1" class="active"></li>
                    <li data-target="#mycarousel" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner col-12 col-sm-12 col-md-12">
                    <div class="carousel-item active">
                        <img class="d-block col-12 col-sm-12 col-md-12" style="height:600px"
                             src="~/UploadImage/thanhhoacity.jpg">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>LALOLITRAVEL</h5>
                            <p>Đưa bạn đến mọi nẻo đường</p>
                        </div>
                    </div>

                    <div class="carousel-item ">
                        <img class="d-block col-12 col-sm-12 col-md-12" style="height:600px"
                             src="~/UploadImage/haiphongcity.jpg">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>LALOLITRAVEL</h5>
                            <p>Đưa bạn đến mọi nẻo đường</p>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img class="d-block col-12 col-sm-12 col-md-12" style="height:600px"
                             src="~/UploadImage/vinhHaLong.jpg">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>LALOLITRAVEL</h5>
                            <p>Đưa bạn đến mọi nẻo đường</p>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#mycarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#mycarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    @*Modal bootstrap*@
    <div class="modal" id="Warning">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-warning">THÔNG BÁO</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="WarningMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    debugger
    $(document).ready(function () {
        var messageValue = $("#Status").val();
        if (messageValue == 1) {
            $("#Message").addClass("text-danger").html("Sai thông tin mật khẩu hoặc tài khoản không tồn tại.");
        } else if (messageValue == 2) {
            $("#Message").addClass("text-danger").html("Lỗi trong quá trình xử lý Server.");
        }
    });
    $("#checkboxShow").change(function () {
        if ($(this).is(":checked")) {
            $("#password").attr("type", "text");
        } else {
            $("#password").attr("type", "password");
        }
    });
    function Validation(){
        var username = $('#username').val();
        var password = $('#password').val();
        if(username == ""){
            ShowMessage("Vui lòng nhập Tài khoản")
            return false;
        }
        if (password == "") {
            ShowMessage("Vui lòng nhập Mật khẩu")
            return false;
        }
        return true;
    }
    function ShowMessage(value){
        $('#WarningMessage').text(value)
        $('#Warning').modal('show');
    }
    //function LoginToAccount(){
    //    var username = $("#username").val();
    //    var password = $("#password").val();
    //    var data = {
    //        username: username,
    //        password: password
    //    }
    //    $.ajax({
    //        url: "/Login/CheckLogin",
    //        method: "POST",
    //        data: JSON.stringify(data),
    //        contentType: "application/json",
    //        success: function (response) {
    //            $("#responseMessage").removeClass("text-danger")
    //            $("#responseMessage").addClass("text-info text-center");
    //            $("#responseMessage").html("Đăng nhập thành công");
    //            window.location.href = "/Home/Index";
    //        },
    //        error: function (error) {
    //            $("#responseMessage").addClass("text-danger text-center");
    //            $("#responseMessage").html("Đăng nhập thất bại");
    //        }
    //    });
    //}
</script>