@{
    ViewData["Title"] = "Thông tin đăng ký";
}
<body>
    <div class="row" style="margin-top: 20px;">
        <div class="media col-12 col-sm-12 col-md-12 border" style="margin-left: 10px; margin-right: 10px;">
            <div class=" col-4 col-sm-4 col-md-4" style="width: 100%; height: 500px;">
                <div class="col-12 col-sm-12 col-md-12 user-avatar row">
                    <img class="rounded order-0 col-12 col-sm-12 col-md-12 user-avatar"
                         src="~/UploadImage/ava.jpg">
                </div>
                <div class="col-12 col-sm-12 col-md-12 row">
                    <div class="col-3 col-sm-3 col-md-3"></div>
                    <button class="col-6 col-sm-6 col-md-6 btn btn-info" style="margin-top: 10px;">Thay đổi ảnh đại diện</button>
                </div>
            </div>
            <div class="media-body col-8 col-sm-8 col-md-8" style="margin-top: 40px;">
                <div class="row">
                    <div class="mt-0 text-info font-italic col-6 col-sm-6 col-md-6 border-bottom" style="font-size: 40px;">THÔNG TIN ĐĂNG KÝ TÀI KHOẢN</div>
                    <div class="mt-0 text-info font-italic col-6 col-sm-6 col-md-6 d-flex align-items-center border-bottom"
                         style="font-size: 20px; margin-bottom: 100px;">
                        LALOLI TRAVEL
                    </div>
                    <form asp-controller="Register" asp-action="SaveRegister" class="col-12 col-sm-12 col-md-12" onsubmit="return Validation()">
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12">Họ và tên</label>
                                <input type="text" class="rounded border-info text-info col-12" name="Name" id="Name" style="height:60px;">
                            </div>
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12">Ngày sinh</label>
                                <input type="datetime-local" class="rounded border-info text-info col-12" name="DateOfBirth" id="DateOfBirth" style="height:60px;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12">Giới tính</label>
                                <select name="Sex" id="Sex" class="rounded border-info text-info col-12" style="height:60px;">
                                    <option value="Nam">Nam</option>
                                    <option value="Nữ">Nữ</option>
                                    <option value="Khác">Khác</option>
                                </select>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12">Email</label>
                                <input type="text" name="Email" id="Email" class="rounded border-info text-info col-12" style="height:60px;" value="@ViewData["AccountEmail"]" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12">Số điện thoại</label>
                                <input type="text" name="PhoneNumber" id="PhoneNumber" class="rounded border-info text-info col-12" style="height:60px;">
                            </div>
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12">Địa chỉ</label>
                                <input type="text" name="Address" id="Address" class="rounded border-info text-info col-12" style="height:60px;">
                            </div>
                        </div>
                        <div class="row" hidden>
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12">Tài khoản</label>
                                <input type="text" name="Username" id="Username" class="rounded border-info text-info col-12" value="@ViewData["AccountEmail"]" style="height:60px;">
                            </div>
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12">Mật khẩu</label>
                                <input type="password" name="Password" id="Password" class="rounded border-info text-info col-12" value="@ViewData["AccountPassword"]" style="height:60px;">
                            </div>
                        </div>
                        <div class="row" style="margin-top: 40px;">
                            <div class="col-3 col-sm-3 col-md-3"></div>
                            <button type="submit" style="height:60px;"
                                    class="btn-outline-info rounded col-6 col-sm-6 col-md-6 justify-content-center align-items-center">
                                Đăng ký thông tin
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @*Modal bootstrap*@
    <div class="modal" id="Warning">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-warning">THÔNG BÁO</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="WarningMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    //debugger
    function Validation(){
        var name = $('#Name').val();
        var dateObBirth = $('#DateOfBirth').val();
        var sex = $('#Sex').val();
        var email = $('#Email').val();
        var phoneNumber = $('#PhoneNumber').val();
        var address = $('#Address').val();
        if(!ValidationField(name, "Vui lòng nhập Tên")) return false;
        if (!ValidationField(dateObBirth, "Vui lòng nhập Ngày sinh")) return false;
        if (!ValidationField(sex, "Vui lòng chọn Giới tính")) return false;
        if (!ValidationField(email, "Vui lòng nhập Email")) return false;
        if (!ValidationField(phoneNumber, "Vui lòng nhập Số điện thoại")) return false;
        if (!ValidationField(address, "Vui lòng nhập Địa chỉ")) return false;
        return true;
    }
    function ValidationField(value, message){
        if(value == ""){
            ShowMessage(message);
            return false;
        }
        return true;
    }
    function ShowMessage(value) {
        $('#WarningMessage').text(value)
        $('#Warning').modal('show');
    }
    //function SaveRegister() {
    //    if (!ValidateRequired($("#Name").val())) return false;
    //    if (!ValidateRequired($("#Sex").val())) return false;
    //    if (!ValidateRequired($("#Email").val())) return false;
    //    if (!ValidateRequired($("#DateOfBirth").val())) return false;
    //    if (!ValidateRequired($("#PhoneNumber").val())) return false;
    //    if (!ValidateRequired($("#Address").val())) return false;
    //    return true;
    //}
    //function ValidateRequired(value) {
    //    if(value == null || valuev===""){
    //        alert("Yêu cầu nhập đầy đủ thông tin");
    //        return false;
    //    }
    //    return true;
    //}
</script>