@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body>
    <div class="row" style="margin-top: 20px;">
        <div class="media col-12 col-sm-12 col-md-12 border" style="margin-left: 10px; margin-right: 10px;">
            <img class="mr-3 rounded order-0 col-4 col-sm-4 col-md-4"
                 src="https://vapa.vn/wp-content/uploads/2022/12/anh-3d-thien-nhien-010.jpg">
            <div class="media-body col-8 col-sm-8 col-md-8" style="margin-top: 40px;">
                <div class="row">
                    <div class="mt-0 text-info font-italic col-6 col-sm-6 col-md-6 border-bottom" style="font-size: 40px;">THÊM KHÁCH SẠN</div>
                    <div class="mt-0 text-info font-italic col-6 col-sm-6 col-md-6 d-flex align-items-center border-bottom" style="font-size: 20px; margin-bottom: 100px;">
                        LARS TRAVEL
                    </div>
                    <form action="" class="col-12 col-sm-12 col-md-12">
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12 col-sm-12 col-md-12">Tên khách sạn</label>
                                <input type="text" class="rounded border-info text-info col-12 col-sm-12 col-md-12"
                                       style="height:60px;">
                            </div>
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12 col-sm-12 col-md-12">Địa chỉ cụ thể</label>
                                <input type="text" class="rounded border-info text-info col-12 col-sm-12 col-md-12"
                                       style="height:60px;">
                            </div>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12 col-sm-12 col-md-12">Lựa chọn thành phố trực thuộc</label>
                                <select name="" id="" class="bg-info col-12 col-sm-12 col-md-12 border-dark rounded text-light text-center" style="height:60px;">
                                    <option value="">Nha Trang</option>
                                    <option value="">Khánh Hòa</option>
                                    <option value="">Hà Nội</option>
                                    <option value="">Hải Phòng</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <label for="" class="font-italic text-info col-12 col-sm-12 col-md-12">Thêm ảnh</label>
                                <input type="file" class="btn btn-info col-12 col-sm-12 col-md-12 border-dark rounded" style="height:60px;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12">
                                <label for="" class="font-italic text-info col-12 col-sm-12 col-md-12">Ghi chú chi tiết</label>
                                <textarea name="" id="" style="width: 100%;" rows="6" class="border-info rounded"></textarea>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 40px;">
                            <div class="col-3 col-sm-3 col-md-3"></div>
                            <button type="submit" style="height:60px;" class="btn-outline-info rounded col-6 col-sm-6 col-md-6 justify-content-center align-items-center">Thêm khách sạn</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>