
<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LaloliTravel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    @*link thư viện biểu đồ*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

    @*link thư viện select2*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    @*Link Icon*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> 

    @*link thư viện select2 bootstrap*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
</head>
<body style="min-height: 100%;">
    <header>
        <div class="row bg-info">
            <!-- <div class="col-2">Trang chủ</div> -->
            <div class="col-4 col-sm-4 col-md-4 text-light font-italic" style="padding-left: 100px;">LALOLI TRAVEL</div>
            <div class="col-6 col-sm-6 col-md-6">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="HomeAdmin" asp-action="Home">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="CityAdmin" asp-action="CityManager" asp-route-page="1">Thành phố</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="TourAdmin" asp-action="TourManager" asp-route-page="1">Tour</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="HotelAdmin" asp-action="HotelManager" asp-route-page="1">Khách sạn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="RestaurantAdmin" asp-action="RestaurantManager" asp-route-page="1">Nhà hàng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="RevenueAdmin" asp-action="RevenueStatisticsDetail" asp-route-stringAccount="@ViewData["UsernameAccount"]">Thống kê</a>
                    </li>
                </ul>
            </div>
            <div class="col-2 col-sm-2 col-md-2">
                <div class="btn-group">
                    <div class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">@ViewData["UsernameAccount"]</div>
                    <div class="dropdown-menu rounded">
                        <a class="dropdown-item text-info" asp-area="Admin" asp-controller="HomeAdmin" asp-action="Logout">Đăng xuất</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-info" asp-area="Admin" asp-controller="HomeAdmin" asp-action="AccountManager">Quản lý tài khoản</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="" style="">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer style="position: sticky; top: 100%;">
        <div class="row bg-info" style="margin-top: 20px;">
            <div class="col-1 col-sm-1 col-md-1"></div>
            <div class="col-10" style="margin-top: 40px; margin-bottom: 40px; background-color: white;">
                <div class="row">
                    <div class="col-4 col-sm-4 col-md-4">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 text-info">
                                <img src="~/Icon/logo.jpg" alt="" style="width:100px; height:100px">LALOLI TRAVEL
                            </div>
                        </div>
                    </div>
                    <div class="col-8 col-sm-8 col-md-8" style="margin-top: 20px; margin-bottom: 20px;">
                        <div class="row">
                            <div class="col-4 col-sm-4 col-md-4 text-center">
                                <a href="" class="text-info text-center">Chăm sóc khách hàng</a></br>
                                <a href="" class="text-info text-center">SDT: (+84) 0398889999</a></br>
                                <a href="" class="text-info text-center">Facebook: LaloliTravel</a></br>
                                <a href="" class="text-info text-center">Zalo: LaloliTravel</a></br>
                                <a href="" class="text-info text-center">Tiktok: LaloliTravel</a></br>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4 text-center">
                                <a href="" class="text-info text-center">Thanh toán</a></br>
                                <a href="" class="text-info text-center">Thanh toán Online với Momo</a></br>
                                <a href="" class="text-info text-center">Thanh toán Online với ViettelPay</a></br>
                                <a href="" class="text-info text-center">Thanh toán Online với các nền tảng khác</a></br>
                                <a href="" class="text-info text-center">Thanh toán trực tiếp tại trung tâm</a></br>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4 text-center">
                                <a href="" class="text-info text-center">Theo dõi Laloli Travel</a></br>
                                <a href="" class="text-info text-center">SDT: (+84) 0398889999</a></br>
                                <a href="" class="text-info text-center">Facebook: LaloliTravel</a></br>
                                <a href="" class="text-info text-center">Zalo: LaloliTravel</a></br>
                                <a href="" class="text-info text-center">Tiktok: LaloliTravel</a></br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
