@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Thêm thành phố";
}
<body>
    <div class="row" style="margin-top: 20px;">
        <div class="media col-12 col-sm-12 col-md-12 border" style="margin-left: 10px; margin-right: 10px;">
            <img class="mr-3 rounded order-0 col-4 col-sm-4 col-md-4"
                 src="https://vapa.vn/wp-content/uploads/2022/12/anh-3d-thien-nhien-010.jpg">
            <div class="media-body col-8 col-sm-8 col-md-8 " style="margin-top: 40px;">
                <div class="row">
                    <div class="mt-0 text-info font-italic col-6 col-sm-6 col-md-6 border-bottom" style="font-size: 40px;">
                        THÊM THÀNH PHỐ
                        DU LỊCH
                    </div>
                    <div class="mt-0 text-info font-italic col-6 col-sm-6 col-md-6 d-flex align-items-center border-bottom"
                         style="font-size: 20px; margin-bottom: 100px;">
                        LALOLI TRAVEL
                    </div>
                    <form asp-area="Admin" asp-controller="CityAdmin" asp-action="CreateCity" class="col-12 col-sm-12 col-md-12" enctype="multipart/form-data" onsubmit="return Validation()">
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12 col-sm-12 col-md-12">Tên thành phố du lịch<span style="color: red;">*</span></label>
                                <input type="text" class="rounded border-info text-info col-12 col-sm-12 col-md-12" name="Name" id="Name" style="height:60px;">
                            </div>
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12 col-sm-12 col-md-12">Tải ảnh<span style="color: red;">*</span></label>
                                <input type="file" class="btn btn-info col-12 col-sm-12 col-md-12 border-dark rounded" id="Pictures" name="file" style="height:60px;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-6">
                                <label for="" class="font-italic text-info col-12 col-sm-12 col-md-12">Tiêu đề giới thiệu<span style="color: red;">*</span></label>
                                <input type="text" class="rounded border-info text-info col-12 col-sm-12 col-md-12" id="TitleIntroduct" name="TitleIntroduct" style="height:60px;">
                            </div>
                            <div class="col-3 col-sm-3 col-md-3">
                                <label for="" class="font-italic text-info col-12 col-sm-12 col-md-12">Vĩ độ địa lý<span style="color: red;">*</span></label>
                                <input type="text" class="rounded border-info text-info col-12 col-sm-12 col-md-12" id="CoordLat" name="CoordLat" style="height:60px;">
                            </div>
                            <div class="col-3 col-sm-3 col-md-3">
                                <label for="" class="font-italic text-info col-12 col-sm-12 col-md-12">Kinh độ địa lý<span style="color: red;">*</span></label>
                                <input type="text" class="rounded border-info text-info col-12 col-sm-12 col-md-12" id="CoordLon" name="CoordLon" style="height:60px;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12">
                                <label for="" class="font-italic text-info col-12 col-sm-12 col-md-12">Nội dung giới thiệu</label>
                                <textarea name="ContentIntroduct" id="ContentIntroduct" style="width: 100%;" rows="6"
                                          class="border-info rounded"></textarea>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 40px;">
                            <div class="col-3 col-sm-3 col-md-3"></div>
                            <button type="submit" style="height:60px;"
                                    class="btn-outline-info rounded col-6 col-sm-6 col-md-6 justify-content-center align-items-center">
                                Thêm mới
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @*Modal bootstrap*@
    <div class="modal" id="Warning">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-warning">THÔNG BÁO</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="WarningMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    function Validation() {
        var name = $('#Name').val();
        var pictures = $('#Pictures').val();
        var titleIntroduct = $('#TitleIntroduct').val();
        var contentIntroduct = $('#ContentIntroduct').val();
        var coordLat = $('#CoordLat').val();
        var coordLon = $('#CoordLon').val();
        if (!ValidationField(name, "Vui lòng nhập Tên thành phố")) return false;
        if (!ValidationField(pictures, "Vui lòng nhập tải ảnh thành phố")) return false;
        if (!ValidationField(titleIntroduct, "Vui lòng nhập Tiêu đề giới thiệu")) return false;
        if (!ValidationField(contentIntroduct, "Vui lòng nhập Nội dung giới thiệu")) return false;
        if (!ValidationField(coordLat, "Vui lòng nhập Vĩ độ địa lý")) return false;
        if (!ValidationField(coordLon, "Vui lòng nhập Kinh độ địa lý")) return false;
        return true;
    }
    function ValidationField(value, message) {
        if (value == "") {
            ShowMessage(message);
            return false;
        }
        return true;
    }
    function ShowMessage(value) {
        $('#WarningMessage').text(value)
        $('#Warning').modal('show');
    }
    //function SaveCity(){
    //    var cityName = $("#cityName").val();
    //    var cityDescription = $("#cityDescription").val();
    //    var data = {
    //        name: cityName,
    //        description: cityDescription,
    //        pictures: "",
    //        tours:[]
    //    }
    //    $.ajax({
    //        url: "/City/CreateCity",
    //        method: "POST",
    //        data: JSON.stringify(data),
    //        contentType: "application/json",
    //        success: function (response) {
    //            console.log("Đăng nhập thành công", response);
    //        },
    //        error: function (error) {
    //            console.error("Lỗi đăng nhập", error);
    //        }
    //    });
    //}
</script>